/* 웹폰트 연결 -눈누 */
@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


*{margin: 0; padding: 0;}
li{list-style: none;}
a{text-decoration: none; display: block; color: #333333;   font-family: 'NanumSquareRound';}
body{   font-family: 'NanumSquareRound';}
header, section, footer{
    width: 100%;
    float:left;
}
/* heder section footer안의 직속자식객체, 항상 브라우저의 가운데 정렬 */
.box{
    width: 1200px;
    margin: 0 auto;
}
.box2{
    width: 1600px;
    margin: 0 auto;
}
/* 이미지크기는 부모크기에 맞춤-상대크기 */
img{width: 100%;}
/* 헤더 */
header{
    transition: all 0.5s;
    position: fixed;
    height: 90px;
    top: 0;
    left: 0;
    background-color: transparent;/*배경투명*/
    z-index: 40;    /*section보다 위에 배치*/
}
/* 화면이 아래로 내려가면 header의 배경의 흰색으로 변함 (제이쿼리)*/
header.active{
    background-color: #ffffff;
    box-shadow: 0 0 5px #ccc;    /*그림자*/
}
header .box .logo{
    width: 200px;
    float: left;
    margin: 10px 0;   /*위아래 여백 : 10픽셀*/
}
/* 네비게이션 */
header .box nav{
    float: left;  /*로고옆배치*/
    margin-left: 140px;   /*로고와의 거리*/
    margin-top: 28px;     /*위쪽여백*/
    /* 서브메뉴배경보다 위에 있어야함 */
    position: relative;
    z-index: 60;
}
/* 주메뉴 */
header .box nav >ul >li{
    float: left;
}
header .box nav >ul >li >a {
    font-size: 16px;
    padding: 5px 40px;
}
header .box nav > ul > li:hover > a{
    color: #c79754;
}
/* 서브메뉴 */
header .box nav .sub{
    height: 0;
    transition: 0.5s;
    overflow: hidden; /*영역에서 벗어닌 컴텐츠 숨김*/
}
header .box nav .sub li a{
    text-align: center;
    padding: 10px;
    font-size: 14px;
}
/* 첫번쨰 서브메누의 위쪽여백늘리기 */
header .box nav .sub li:first-child a{
    padding-top: 70px;
}
header .box nav .sub li a:hover{
    color: #c79754;
}
/* 주메뉴애 마우스  오버했을떄 서브메뉴 나옴 */
header .box nav:hover .sub{
    height: 250px;  /*높이가 0에서 200px로 05동안 보임*/
}
/* 서브메뉴배경 */
header .sub_bg{
    width: 100%;
    height: 290px;
    background-color: #efedeb;
    position: absolute; /*서브메뉴와 겹침*/
    top: 80px;  /*위치설정*/
    left: 0;
    z-index: 50;
    display: none; /*숨김*/
}
/* 로그인 회원가입 */
header .box .top_menu{
    float: right;
    margin-top: 23px;
}
header .box .top_menu ul li{
    float: left;
    margin-left: 20px;
}
header .box .top_menu ul li a{
    margin-top: 7px;
    padding: 5px;
    font-size: 13px;
}
/* 메인비주얼 */
.s1 {
    width: 100%;
    height: 970px;
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* background-position: center; */
}
.s1 .photo{
    width: 1399px;
    height:860px;
    margin-top: 90px;
    float: right;
    position: relative;    /*자식객체 li 들이 겹쳐질떄 .photo를 기준으로 위치설정*/
}
.s1 .photo ul li{
    position: absolute;     /*겹침*/
    width: 100%;
    height: 860px;
}
.s1 .bar{
    margin-top: 90px;
    width: 201px;
    height: 870px;
    background-color: #f6f1ea;
    float: left;
    color: #7e7265;
    /* 글자 h3태그를 bar영역의 가운데로 정렬 */
    display: flex;
    flex-flow: nowrap;
    justify-content: center;   /*좌우 가운데정렬*/
    align-items: center /*상하가운데정ㅇ렬*/;
}
.s1 .bar h3{
    font-size: 30px;
    transform: rotate(90deg); /*90도 회전*/
}
/* 메인 비주얼의 설명과 버튼 */
.s1 .des_box{
    width: 1200px;
    top:150px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.s1 .des_box .des{
    height: 300px;
    margin-top: 80px;
    margin-left: 40px;
}
.s1 .des_box .des ul li{
    position: absolute;   /*li겹침*/
}
.s1 .des_box .des h1{
    font-size: 30px;
    margin-bottom: 30px;
    margin-left: 100px;
}
.s1 .des_box .des p{
    font-size: 20px;
    color: #666666;
    margin-left: 30px;
}
.s1 .des_box .des a{
    width: 100px;
    padding: 7px 15px;
    border-radius: 30px;
    border: 1px solid #ccc;
    text-align: center;
    margin: 40px 0;
    margin-left: 100px;
}
.s1 .des_box .des a:hover{
    background-color: #a5a09a;
}
.s1 .des_box .number{
    margin-top: 20px;
}
.s1 .des_box .number div{
    float: left;
    margin-left: 60px;
}
.s1 .des_box .number .num ul li{
    float: left;
    padding: 10px 30px 10px 0;
    
}
.s1 .des_box .number .num ul li a{
    font-weight: bold;
}
/* number가 활성화 도;면 나타나는 밑줄 */
.s1 .des_box .number .num ul li a.active:after{
    content: "";
    display: block; /*인라인요소 -> 블럭요소*/
    width: 100%;
    height: 2px;
    margin-top: 4px;
    background-color: #333;
}
.s1 .des_box .number .btn{
    margin-top: 10px;
    margin-left: 30px;
}
.s1 .des_box .number .btn hr{
    float: left;
    width: 150px;
    height: 1px;
    border: none;
    background-color: #333;
    margin-top: 11px;
}
.s1 .des_box .number .btn a{
    width: 16px;
    height: 16px;
    float: left;
    margin-top: 4px;
    margin-left: 10px;
    background-image: url(../img/Untitled-4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.s1 .des_box .number .btn a.active{
    background-image: url(../img/Untitled-3.png);
}
/* 메인 비주얼의 첫번쨰 이미지가 보이게 설정하기 */
.s1 .photo ul li{
    position: absolute;/*겹침*/
    width: 100%;
    height: 970px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: canter;
    display: none;
}
.s1 .photo ul li:first-child{
    display: block; /*보임*/
}
.s1 .des_box .des ul li{
    display: none;
}
.s1 .des_box .des ul li:first-child{
    display: block; /*보임*/
}
/* 메인 비주얼 왼쪽의 bar */
.s1 .ber{
    width: 120px;
    height: 970px;
}
/*scroll*/
/* 스크롤 버튼에서 동그라미 상하운동 애니메이션 */
/* rcyfromes 라는 css 명령어 사용, ani는 애니메이션이름 */
@keyframes ani{
     0%{
        margin-top: 10px;
        opacity: 1 ;
     }
     40%{
         margin-top: 20px;
         opacity: 1;
     }
     60%{
         opacity: 0;
     }
     100%{
         opacity: 0;
     }
}
.s1 .scroll{
    width: 80px;
    position: absolute;    /*.photo와 겹침*/
    left: 50%;
    transform: translateX(-50%);
    bottom: 100px;
    color: #666;
    font-size: 14px;
    text-align: center;
}
.s1 .scroll .scroll_btn{
    width: 22px;
    height: 36px;
    border-radius:20px ;
    border:1px solid #666;
    margin: 0 auto;
    margin-top: 5px;
}
.s1 .scroll .scroll_btn .circle{
    width: 9px;
    height: 9px;
    background-color: #666;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 20px;
    animation: ani 2s infinite;   /*@keyframes에서 지정한 애니메이션을 실행하는 명령어 2초동안 실행*/
}

.s2 .des_box2{
    width: 100%;     
}
.s2 .box2 .s2_contents {
    width:1570px;
    margin: 0 auto;
    margin-top: 40px;
}
.s2 .box2 .s2_contents ul li {
    float:left;
}

.s2 .box2 .b1{
    width: 750px;
} 
.s2 .box2 .b2{
    width: 800px;
    margin-left: 14px;
}
.s2 .box2 .b3{
    width: 450px;  /*456*/
    margin-right: 12px;
    margin-top: 15px;
}
.s2 .box2 .b4{
    width: 633px;  /*642*/
    margin-right: 12px;
    margin-top: 15px;
}
    
.s2 .box2 .b5{
    width: 457px;   /*466*/
    margin-top: 15px;
} 
/*상품라인 PRODUCT*/
.s3{
    position: relative;
}
.s3 .area{
    width: 1902px;
    margin: 0 auto;
}
.s3 .product1{
    width: 1230px;
    margin-top: 200px;
}
.s3 .product1 h1{
    font-size: 40px;
    margin-left: 200px;
    line-height: 40px;
}
.s3 .product1 h1 span{
    color: #333333;
    font-size: 50px;
    margin-left:20px ;
    
}
.s3 .product1 .product_title{
    width: 1230px;
    /* width: 1000px;
    margin-left: 130px; */
    height: 570px;
    background-color: #dbd0c0;
    border-radius: 0 0 160px 0;
    margin-top: 30px;
}
.s3 .product1 .product_title .product_des{
    margin-left: 200px;
    padding-top: 50px;
    float: left;
}
.s3 .product1 .product_title .product_des ul li h3{
    color: #333;
    font-size: 30px;
}
.s3 .product1 .product_title .product_des ul li span{
    opacity: 0.2;
    font-size: 50px;
    margin-left:10px;
}
.s3 .product1 .product_title .product_des ul li p{
    color: #333;
    font-size: 18px;
}
.s3 .product1 .product_title .product_des ul li a{
    width: 60px;
    margin: 50px;
    margin-left: 0;
}
/* 모든  .product_des 안보임*/
.s3 .product1 .product_title .product_des ul li{
    display: none;
    position: absolute;
}
.s3 .product1 .product_title .product_des ul li:first-child{
    display: block;
}
/*product_list*/
.s3 .product1 .product_title .product_list{
    float: left;   /*prouct_des와나란이 정렬*/
    margin-top: 350px;
    margin-left: 600px;
}
.s3 .product1 .product_title .product_list ul li{
    border-bottom: 1px solid rgba(56, 53, 53, 0.2);


}
.s3 .product1 .product_title .product_list ul li a{
    color: #fff;
    font-size: 25px;
    padding: 10px 0;
    border-bottom: 3px solid transparent;
    padding: 0;
    width: 200px;
}
.s3 .product1 .product_title .product_list ul li.active a{
    border-bottom: 3px solid #333;
    padding-left: 30px;
    opacity: 1;
}
/*.produst2*/
.s3 .product2{
    width: 767px;
    height: 725px;
    position: absolute;    /*.product1과 겹침*/
    background-color: #ccc;
    top: 100px;
    left: 50%;
}
.s3 .product2 ul li{
    position: absolute;   /*이미지겹침*/
    display: none;   /*안보임*/
}
.s3 .product2 ul li:first-child{
    display: block;
}

/* 신상품 */
.s4 {position: relative;}
.s4 .area{
    width: 1920px;
    margin: 0 auto;
    margin-top: 100px;
    position: relative;
}
.s4 .new_bg{
    float: left;
    width: 740px;
    height: 940px;
    background-color:#dbd0c0 ;
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;
}
.s4 .new_des{
    float: left;
    padding: 60px;
}
.s4 .new_des .new_title{
    width: 100%;
    float: left;  /*.new_title과 형제객체인 p영역 구분*/
    margin-bottom: 30px;
}
.s4 .new_des h1{
    font-size: 40px;
    float: left;           /*h1과 hr 가로로 나열*/
    margin-top: 30px;
}
.s4 .new_des h1 span{
    color: rgb(85, 81, 78);
    font-size: 24px;
    
}
.s4 .new_des .new_title hr{
    float: left;         /*h1과 hr 가로로 나열*/
    width: 500px;
    margin-top:55px;
    margin-left: 30px;
}
.s4 .new_des a{
    width: 60px;
    margin-top: 50px;
}
.s4 .new_des h5{
    font-size: 25px;
    color: #666;
}
.s4 .new_list{
    width: 100%;
    position: absolute;  /*.new_title과 겹침*/
    left: 0;
    top: 500px;
}
/* .s4 .new_list ul{
    width: 5000px;
} */
.s4 .new_list div div{
    width: 390px;
    height: 391px;
    /* float: left;   /*li들 가로로 나열*/
    /* margin: 20px;  */
    box-sizing: border-box;
    /* position: relative;    자식객체 p태그의 위치를 잡을 떄 li가 기준이 되도록 설정 */  
}
.s4 .new_list .swiper-slide{
    width: 300px;
    height: 300px;
   
}
.s4 .new_list div div:first-child{
    margin-left: 100px;
}
.s4 .new_list div div p span{
    padding-top: 5px;
}
.s4 .new_list div div p{
    width: 350px;
    position: absolute;
    text-align: center;
    padding: 20px 19px;
    white-space: nowrap;  /*글자 줄바꿈 금지*/
    background-color: rgba(29, 29, 29, 0.3);
    color: #fff;
    left: 295px;
    bottom: -80px;
    transform: translateX(-50%);
}
/* section 5 */
.s5{
    position: relative;
}
.s5 .box2{
    width: 1920px;
    height: 1000px;
    background-color: #f6f1ea;
    margin-top: 80px;
}
.s5 .box2 .insta_title{
    margin: 0 auto;
    width: 520px;
    /* margin-left: 700px; */
    padding-top: 100px;
}
.s5 .box2 .insta_title .insta_img{
    width: 70px;
    float: left;

}
.s5 .box2 .insta_title h1{
    font-size: 53px;
    float: left;
}
.s5 .box2 .insta_title .insta_txt{
    width: 90px;
    height: 35px;
    font-size: 30px;
    background-color: #fff;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;

}
.s5 .box2 .insta_list{
    clear: both;
    padding-top: 100px;
    margin: 0 auto;
    width: 1800px;
}
.s5 .box2 .insta_list ul li{
    width: 400px;
    float: left;
    margin-right:50px ;
    
}
.s5 .box2 p{
    font-size: 30px;
    text-align: center;
    float: left;
    width: 100%;
    margin-top: 50px;
}
/* footer */
footer .footer_box{
    width: 100%;
    float: left;
}
footer .footer_box:first-child{
    border-top:1px solid #ddd;
    border-bottom: 1px solid #ddd;
    height: 40px;
}
footer .footer_box .box img{
    width: 200px;
    margin-top: 100px;
}
footer .footer_box .box .footer_list ul li{
    float: left;
} 
footer .footer_box .box .footer_list ul li a{
    font-size: 14px;
    padding: 15px;
    color: #666;
}
footer .footer_box .box .footer_list ul li a::after{
    content: "｜";
    margin-left: 30px;
}
/* .footer_list ul li의 마지막 li에서 파이프기호 없애기 */
footer .footer_box .box .footer_list ul li:last-child{
    content: "";
}
footer .footer_box .box  .footer_left{
    float: left;
    padding: 50px 0;
    color: #666;
}
footer .footer_box .box  .footer_right{
    float: right;
    padding: 50px 0;
    color: #666;
}
